@use "lib/viewport";

.before-header-panel-outlet {
  margin-left: auto;

  + .panel {
    margin-left: 0;
  }

  // allows the tooltip to match the button height
  .fk-d-button-tooltip {
    align-items: stretch;
  }

  .fk-d-tooltip__trigger {
    height: unset;
  }
}

@include viewport.until(sm) {
  #new-create-topic span {
    display: none;
  }

  #new-create-topic .d-icon {
    margin-right: 0;
  }
}

@if $hide_default_button == "true" {
  .navigation-controls #create-topic,
  .navigation-controls #create-topic + .fk-d-menu__trigger {
    display: none !important;
  }
}

.anon {
  #new-create-topic {
    // match default login button size
    font-size: var(--font-down-1);
    margin-right: 0.5em;
    position: relative;
    top: 0.1em; // optical alignment
  }
}
