@media (max-width: 850px) {
  #new-create-topic span {
    display: none;
  }
  #new-create-topic i {
    margin-right: 0;
  }
}

@if $New_topic_button_text == "" {
  #new-create-topic span {
    display: none;
  }
  #new-create-topic i {
    margin-right: 0;
  }
}

@if $Hide_default_button == "true" {
  button#create-topic {
    display: none;
  }
}
